<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Просмотр</title>
</head>
<body>
<center>
<video controls>#найти способ
   <source src="{{url_for('static', filename='/videous/' + infi[0][0] + '.mp4')}}">

</video>
    <h3>{{infi[0][1]}}</h3>
    <form action = "{{ url_for('spiso') }}">
        <button type="submit" class="btn first btn-lg btn btn-dark">Назад</button></form>
</center>
</body>
</html>
